/********************************** Font ************************************/
@font-face {
  font-family: "Pretendard Variable";
  src: url("/font/PretendardVariable.woff2") format("woff2");
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("/font/BebasNeue-Regular.woff2") format("woff2"),
    url("/font/BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "VT323";
  src: url("/font/VT323-Regular.woff2") format("woff2"),
    url("/font/VT323-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$root-font-size: 10px;
$root-font-size-minimum: 8px;

//반응형 분기 사이즈
$screen-sm: 360px;
$screen-md: 768px;
$screen-lg: 1024px;

// - font family
$font-pretendard: "Pretendard Variable";
$font-bebas: "Bebas Neue";
$font-vt323: "VT323";

// - font weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 800;
$font-weight-extrabold: 900;

// - primary colors
$color-primary: #fff8e0;

// - secondary colors
$color-secondary-1: #f0f6ff;
$color-secondary-2: #e5f1ff;
$color-secondary-3: #c2dcff;
$color-secondary-4: #5697f0;
$color-secondary-5: #307ff0;
$color-secondary-6: #175ec7;
$color-secondary-7: #1d2d47;

// - gray colors
$color-gray-10: #212529;
$color-gray-9: #515961;
$color-gray-8: #6e7780;
$color-gray-7: #8c959f;
$color-gray-6: #a9b0b8;
$color-gray-5: #c0c6cc;
$color-gray-4: #e1e3e5;
$color-gray-3: #eceff4;
$color-gray-2: #f2f5f7;
$color-gray-1: #f5f7fa;

// - white color
$color-white: #ffffff;

// - 시스템 colors
$color-info: #0565f0;
$color-success: #00a684;
$color-fail: #e5493a;
$color-E18700: #e18700;
$color-neutrality: #8c959f;

//- disabled color
$color-disabled-1: #b0ccf6;
$color-disabled-2: #8c959f;

// - shadow color
$shadow1: 0px 1px 6px 0px rgba(33, 37, 41, 0.04),
  0px 1px 1px 0px rgba(33, 37, 41, 0.02);
$shadow2: 0px 1px 16px 0px rgba(33, 37, 41, 0.04),
  0px 6px 10px 0px rgba(33, 37, 41, 0.02);
$shadow3: 0px 2px 22px -1px rgba(33, 37, 41, 0.04),
  0px 8px 10px 0px rgba(33, 37, 41, 0.02);

// - z-index
$z-index: (
  overlay-layer: 1030,
  overlay-dimmed: 1020,
  layer: 1010,
  dimmed: 100,
  tooltip: 50,
  sticky: 50,
  aside: 45,
  header: 40,
  navigation: 30,
  footer: 20,
  // triangle: 10,
  teachingBubble: 5,
  default: 1,
  below: -1,
) !default;

// - easings
$easings: (
  in-sine: cubic-bezier(0.47, 0, 0.745, 0.715),
  out-sine: cubic-bezier(0.39, 0.575, 0.565, 1),
  inout-sine: cubic-bezier(0.39, 0.575, 0.565, 1),
  in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
  out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  inout-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19),
  out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1),
  inout-cubic: cubic-bezier(0.215, 0.61, 0.355, 1),
  in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
  out-quart: cubic-bezier(0.165, 0.84, 0.44, 1),
  inout-quart: cubic-bezier(0.165, 0.84, 0.44, 1),
  in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
  out-quint: cubic-bezier(0.23, 1, 0.32, 1),
  inout-quint: cubic-bezier(0.23, 1, 0.32, 1),
  in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035),
  out-expo: cubic-bezier(0.19, 1, 0.22, 1),
  inout-expo: cubic-bezier(0.19, 1, 0.22, 1),
  in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335),
  out-circ: cubic-bezier(0.075, 0.82, 0.165, 1),
  inout-circ: cubic-bezier(0.075, 0.82, 0.165, 1),
  in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045),
  out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275),
  inout-back: cubic-bezier(0.68, -0.55, 0.265, 1.55),
) !default;
