@use "../abstracts" as *;

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  // justify-content: space-between;
  padding: 4rem 2rem;
  .copyright {
    font-family: $font-bebas;
    font-size: 1.3rem;
    font-weight: $font-weight-light;
    color: $color-gray-6;
  }
  @include respond-to($screen-md) {
    padding: 2rem;
    .copyright {
      font-size: 1rem;
    }
  }
}
